body{
    margin: 0;
    padding: 0;
}


#logo{
    width: 100px;
}
h1{
    color: rgb(255, 255, 255);
   float: right;
   margin-right: 600px;
   margin-top: 35px;
   
}

header{
    background-color: #191919;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left:0;
   
    
    
}
#menu{
    float: right;
    
    margin-right: 15px;
    margin-top:25px;
      
}
li{
        
    list-style: none;
    color:rgb(255, 255, 255);
    display: inline;
    margin-left: 15px;
    border-radius: 2px;
    background-color: rgb(25, 1, 156);
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
   

}

a{
    text-decoration: none;
}

#inicio{
    width: 1000px;
    margin: auto;
    margin-top: 140px;
}


#mercedes{
    float: left;
    width: 400px;

}

.iev{
    float: right;
    width: 400px;
    
}

.arrizo{
    margin: auto;
    width: 400px;
    margin-top: 0;

}



p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.carros{
    width: 400px;
}

@media  (max-width:500px) {

    header{
        margin: auto;
    }
    
    li{
        
        list-style: none;
        color:rgb(255, 0, 0);
        display: inline;
        margin-left: 15px;
        border-radius: 2px;
        background-color: rgb(25, 1, 156);
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
       
    
    }

  




}